GOOGLE_API_KEY=your_api_key
LYBIC_ORG_ID=your_org_id
LYBIC_API_KEY=your_api_key
SANDBOX=
ARK_API_KEY=your_api_key
ARK_MODEL_ENDPOINT=https://ark.cn-beijing.volces.com/api/v3
ARK_MODEL_NAME=doubao-1-5-ui-tars-250428
